@import url(reset.css);
@import url(grid.css);

body { background: #fff; color: #333333; font-size: 14px; -webkit-font-smoothing: antialiased; }
a { text-decoration: none; }
a:link, a:visited { color: #D84848; }
a:active { color: #B33B3B; }
a:hover { color: black; }
h1, h2, h3, h4, h5, h6 { margin:16px 0; }
h1 { font-size: 24px; margin: 0; }
h2 { font-size: 18px; margin: 0; }
h3 { font-size: 36px; }
h4 { font-size: 16px; }
p { margin-bottom: 16px; line-height: 1.8; }
p + p:last-child, p:only-child { margin-bottom: 0; }
ul { list-style: none; }
blockquote { margin: 16px 0; border-left: #aaa 2px solid; padding-left: 16px; }
footer { margin-bottom: 64px; color: #888888; }

#main { margin-top: 64px; margin-bottom: 64px; }
#content { margin: 64px auto; }
#posts li { margin-bottom: 96px; display: block; }
#posts li + li:last-child { margin-bottom: 0; }

.info h3, .info h4 { margin: 0; }
.link h3, .title_only h3 { font-size: 64px; }
.body { background: white; text-align: justify-left; }
.clear { clear: both; }

.pagination { font-size: 36px; font-weight: bold; }
.pagination .page, .pagination .first, .pagination .last { display: none; }
.pagination .prev { float: left; }
.pagination .next { float: right; }

.flash { padding: 16px; font-weight: bold; color: white; margin-bottom: 16px; text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0; }
.notice { background: #4eb933; }
.error { background: #b33b3b; }

#account_bar { background: #eee; padding: 8px 16px; border-bottom: #ddd 1px solid; }
#account_bar strong { float: left; }
#actions { float: right; list-style: none; }
#actions li { display: inline-block; margin-left: 16px; }