<% title 'Posts' %>

<table cellspacing="0" id="posts">
	<thead>
		<tr>
			<td>Title</td>
			<td>Edit</td>
			<td>Destroy</td>
		</tr>
	</thead>
	<tbody>
		<%= render @posts %>
	</tbody>
</table>

<%= paginate @posts %>