<% title 'Preferences' %>

<table cellspacing="0" id="preferences">
	<thead>
		<tr>
			<td>Name</td>
			<td>Value</td>
			<td>Edit</td>
			<td>Destroy</td>
		</tr>
	</thead>
	<tbody>
		<%= render @preferences %>
	</tbody>
</table>