<% title 'Preferences' %>

<%= link_to 'New preference', new_admin_preference_url, class: 'add', id: 'preference_add' %>

<table cellspacing="0" id="preferences">
	<thead>
		<tr>
			<td>Name</td>
			<td>Value</td>
			<td>Edit</td>
			<td>Destroy</td>
		</tr>
	</thead>
	<tbody>
		<%= render @preferences %>
	</tbody>
</table>