<% title 'Users' %>

<%= link_to 'New user', new_admin_user_url, class: 'add' %>

<table cellspacing="0" id="posts">
	<thead>
		<tr>
			<td>Username</td>
			<td>Edit</td>
			<td>Destroy</td>
		</tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>

<%= paginate @users %>