<li>
	<% if post.link? and post.body? -%>
		<%= render partial: 'posts/types/link_and_body', locals: { post: post } %>
	<% elsif post.link? -%>
		<%= render partial: 'posts/types/link', locals: { post: post } %>
	<% elsif post.body? -%>
		<%= render partial: 'posts/types/title_and_body', locals: { post: post } %>
	<% else -%>
		<%= render partial: 'posts/types/title', locals: { post: post } %>
	<% end %>
	<div class="clear"></div>
</li>